rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default-deny everything
    match /{document=**} {
      allow read, write: if false;
    }

    // Global Helpers
    function isSignedIn() { return request.auth != null; }
    function isValidId(id) { return id is string && id.size() <= 128 && id.matches('^[a-zA-Z0-9_\\-]+$'); }
    function incoming() { return request.resource.data; }
    function existing() { return resource.data; }
    function isOwner(userId) { return isSignedIn() && request.auth.uid == userId; }
    
    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }
    function hasRole(role) {
      return isSignedIn() && getUserData().role == role;
    }

    // Bidang
    match /bidang/{bidangId} {
      allow read: if isSignedIn();
      allow write: if hasRole('admin');
    }

    // Users
    match /users/{userId} {
      allow read: if isSignedIn();
      allow write: if isOwner(userId) || hasRole('admin');
    }

    // Projects
    match /projects/{projectId} {
      allow read: if isSignedIn();
      allow create: if (hasRole('admin') || hasRole('operator'));
      allow update: if (hasRole('admin') || hasRole('operator') || hasRole('kabid'));
      allow delete: if hasRole('admin');
      
      match /updates/{updateId} {
        allow read: if isSignedIn();
        allow create: if (hasRole('admin') || hasRole('operator'));
        allow update: if (hasRole('admin') || hasRole('kabid'));
        allow delete: if hasRole('admin');
        
        match /photos/{photoId} {
           allow read: if isSignedIn();
           allow write: if hasRole('admin') || hasRole('operator');
        }
      }
    }
  }
}
